<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Of The Cafes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        hr {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .last {
            margin-top: 90px;
        }
        body {
            background-color: black;
        }
        a {
            color: yellow;
        }
    </style>
</head>
<body>
    <div class="yino">
        <h3 style="font-size: 4rem;font-family: cursive;color:cadetblue;">All Cafes</h3></div>
    <!-- let's work it with bootstrap table -->
    <table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Cafe_Name</th>
            <th scope="col">Location</th>
            <th scope="col">Open</th>
            <th scope="col">Close</th>
            <th scope="col">Coffee</th>
            <th scope="col">Wifi</th>
            <th scope="col">Power</th>
        </tr>
    </thead>
    <tbody>
     {% for post in my_list %}
            <tr>
                <td scope="row">{{ post["name"] }}</td>
                <td><a href = "{{ post['Location']}}">Maps-link</a></td>
                <td>{{ post["Open"] }}</td>
                <td>{{ post["Close"] }}</td>
                <td>{{ post["Coffee"] }}</td>
                <td>{{ post["Wifi"] }}</td>
                <td>{{ post["Power"] }}</td>
            </tr>
     {% endfor %}
    </tbody>
    </table>
</body>
<footer>
    <a href="/" class="last">Return to first page</a>
    <a href="contact.html"><strong style="margin-left: 75%;">Contact Us!</strong></a>
</footer>
</html>